.conteudo-principal {
    margin-top: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

.informativo {
    margin: 15px 10px 15px 15px;
    font-size: 47px;
    text-align: center;
}

.texto {
    margin-top: 45px;
    text-align: center;
}

.formulario {
    margin-top: 55px;
    text-align: center;
}



.entrada {
    width: 370px;
    height: 40px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 0.1px solid rgb(81, 77, 77);
    background-color: rgba(189, 220, 238, 0.3);
}

.delete-botao {
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    background-color: rgb(203, 38, 38);
    color: white;
}

.delete-botao:hover {
    background-color: red;
}