<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar consultas</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/appointment_style.css') }}">
</head>
<body>
    {% extends 'base_logged.html' %}
    {% block content %}

                
    <div style="display: None;">
        {% block nome %} {{user.nome}} {% endblock %}
    </div>

    {% set messages = get_flashed_messages() %}
        <div class="teste">
            {% if messages %}
            <div class="msg-consulta">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %} 
        </div>

    <h1 id="titulo-principal"><span>Agende sua proxima consulta</span></h1>
    <section class="conteudo-principal">
        <section class="lista-hospital">
            <div class="titulos">
                <p class="item">Nome</p>
                <p class="item">endereco</p>
                <p class="item">especialidade</p>
                <p class="item"></p>
            </div>
            {% for hosp in hosps %}
            <div class="hospital">
                <p class="item carac-hospital"> {{ hosp.nome }} </p>
                <p class="item carac-hospital"> {{ hosp.endereco }} </p>
                <p class="item carac-hospital"> {{ hosp.especialidade }}</p>
                <a class="item botao-consulta" href="{{ url_for('bP.cria_consulta', hosp_id = hosp.id, user_id = user.id ) }}">Marcar consulta</a>
            </div>
            {% endfor %}
        </section>
    </section>

    {% endblock %}
</body>
</html>