<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Med</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/base_style.css') }}">
</head>
<body>
    <header class="cabeçalho">
        <div class="primeiro-menu">

            {% if log == 1 %} 
                <a href="{{ url_for('bP.home_loggedHosp', hosp_id = ent.id) }}" class="logo">QuickMed</a>

            {% else %}
                <a href="{{ url_for('bP.home_loggedUser', user_id = ent.id ) }}" class="logo">QuickMed</a>

            {% endif %}

            <nav class="menu-opcoes">
                <a href="" class="menu-item">Serviços</a>
                <a href="" class="menu-item">Planos</a>
                <a href="" class="menu-item">Contato</a>
            </nav>
        </div>

        <nav class="menu-usuario">
            <div class="usuario-dados">

                {% if log == 1 %} 

                    <button class="usuario-opcoes" onclick="menuShow()"><img class="avatar-usuario" src="https://cdn-icons-png.flaticon.com/512/4625/4625853.png" alt=""></button>
                    <div class="menu-drop">
                        <a href="">Alterar dados</a>
                        <a href="">Sair da conta</a>
                        <a href="">Deletar conta</a>
                    </div>

                {% else %}

                    <button class="usuario-opcoes" onclick="menuShow()"><img class="avatar-usuario" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP7HfJwRNoFF3Gc4HmPeYYG6alQ5HiTZ6OntLPyuAxjA&s" alt=""></button>
                    <div class="menu-drop-usuario menu">
                        <a class="opcao black" href="{{ url_for('bP.update_conta', user_id = ent.id ) }}">Alterar dados</a>
                        <a class="opcao red" href="{{ url_for('bP.logoff') }}">Sair da conta</a>
                        <hr color="grey" size="0.3">
                        <a class="opcao red" href="{{ url_for('bP.deletar_conta', user_id = ent.id ) }}">Deletar conta</a>
                    </div>
                {% endif %}
                    <p>{% block nome %} {% endblock %}</p>

            </div>
        </nav>
    </header>

    <script src="{{ url_for('static',    filename='script/base.js') }}"></script>

    {% block content %}
    {% endblock %}
</body>
</html>