<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/login_style.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main>

        <section class="conteudo-principal">
            <div class="conteudo-escrito">
                <h1 class="titulo-principal">Faça login<br>e não perca mais tempo!</h1>
                <p class="subtitulo">Se voce não tem uma conta,<br> voce pode <a href="">Criar uma!</a></p>
            </div>

            <div class="conteudo-imagem">
                
            </div>

            <div class="conteudo-login">
                <img class="login-imagem" src="/static/images/login.svg" alt="">
                <form action="/vld" method="POST">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}       

                        <input class="wrong login-email" type="email" name="email" id="email" placeholder="e-mail incorreto">
                        <div class="senha-campo">
                            <input class="senha wrong login-senha" type="password" name="senha" id="senha" placeholder="senha incorreta">
                            <img class="eye-icon" id="icone" src="/static/images/view.png" alt="">
                        </div>

                    {% else %}

                        <input class="login-email" type="email" name="email" id="email" placeholder="e-mail">
                        <div class="senha-campo">
                            <input class="senha login-senha" type="password" name="senha" id="senha" placeholder="senha">
                            <img class="eye-icon" id="icone" src="/static/images/view (1).png" alt="">
                        </div>

                    {% endif %}
                    {% endwith %}            

                    <p class="recuperação">Recuperar senha</p>
                    <input class="conteudo-login-botão" type="submit" value="Entrar" placeholder="">
                </form>

            </div>
        </section>
    </main>

    <script src="{{ url_for('static',    filename='script/eye_password.js') }}"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    {% endblock %}
</body>
</html>