<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar dados</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/update_style.css') }}">
</head>
<body>
    {% extends 'base_logged.html' %}
    {% block content %}

    <div style="display: none;">
        {% block nome %} {{user.nome}}  {% endblock %}  
    </div>

    <section class="conteudo-principal">
        <h1 class="informativo">Altere seus dados</h1>
        <hr>
        <div class="formulario">
            <img class="foto-usuario" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP7HfJwRNoFF3Gc4HmPeYYG6alQ5HiTZ6OntLPyuAxjA&s" alt="">
            <form action="/upd" method="POST">
                <input type="hidden" id="id" name="id" value="{{user.id}}">
                
                <input class="entrada nome" type="text" name="nome" id="nome" placeholder="Nome">

                
                <input class="entrada email" type="email" name="email" id="email" placeholder="E-mail">

                <div class="senha-campo">
                    <input class="entrada senha" type="password" name="senha" id="senha" placeholder="Password">
                    <img class="eye-icon" id="icone" src="/static/images/visibility (1).png" alt="">
                </div>

                <input class="update-botao" type="submit" value="Update">
            </form>
        </div>

    </section>
    
    <script src="{{ url_for('static',    filename='script/eye_password.js') }}"></script>
    {% endblock %}
</body>
</html>